.post-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.post-count p {
  font-size: 27px;
  font-weight: bold;
}

.post-count div {
  display: flex;
  align-items: center;
}
