.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 2;
  display: flex;
  gap: 20px;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(120px);
}

.modal-item {
  border-radius: 10px;
  margin: 10px; /* Adjust the margin between items */
  text-align: center;
  font-size: 18px;
}

.summary {
  background-color: white;
  width: 100%;
  height: 200vh;
}

.summary div {
  height: 200vh;
  background-color: green;
}
.summary.dark {
  background-color: #011627;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-bottom: 1px solid black;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 50;
  padding: 0 10px;
  background-color: rgba(3, 0, 20, 0.09); /* Use rgba for transparency */
  backdrop-filter: blur(10px); /* Apply backdrop blur effect */
  box-shadow: 0 2px 5px rgba(42, 14, 97, 0.5); /* Apply shadow */
}

.blur {
  color: wheat;
  background-color: rgba(3, 0, 20, 0.09) !important;
}

header {
  background-color: var(--background-color);
  color: var(--text-color);
}

header h2 {
  font-family: "Dancing Script", cursive;
}

header .logout-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.header-transparent:hover {
  opacity: 1;
}

.header-opaque {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  opacity: 1;
  transition: opacity 0.5s ease;
}

.theme-toggle-button {
  cursor: pointer;
}

.user-name {
  cursor: pointer;
  transition: 1s;
}

.user-name:hover {
  scale: 1.5;
  transition: 1s;
}

.bn5 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.header-nav {
  display: flex;
  padding: 10px 10px;
  gap: 20px;
  list-style-type: none;
}

.header-nav li {
  padding: 10px 10px;
  gap: 20px;
  list-style-type: none;
}

.bn5 {
  text-decoration: none;
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: #191919; */
  left: 0;
  top: 0;
  border-radius: 10px;
}
