.message-container {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;

  background-size: cover;
}
.messageBox {
  display: flex;
  border-radius: 10px;

  background-color: rgba(46, 45, 81, 0.4);
}

.chat {
  width: 100%;
}

.h2title {
  border-top-left-radius: 10px;
  height: 20px;
  padding: 15px;
  background-color: rgba(46, 45, 81, 0.7);
  font-size: 12px;
}

.active-users-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
  min-width: 200px;
  max-width: 300px;
  max-height: 528px;
  border-radius: 10px;
}

.active-users-container h2 {
  display: flex;
  color: #d7d6f8;
}
.active-users-list {
  border-top: 3px solid grey;
  width: 200px;
  display: flex;

  overflow-y: scroll;
  flex-direction: column;

  margin-top: 40px;
  list-style-type: none;
  padding: 0;
  scrollbar-width: thin; /* Enable custom styling */
  scrollbar-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0); /* Track color and transparent thumb */

  /* Optional finer styling, adjust to your preferences */
  &::-webkit-scrollbar {
    width: 8px; /* Adjust scrollbar width */
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Track background color */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Thumb color */
    border-radius: 5px; /* Rounded corners for smooth appearance */
  }
}

.active-users-list li {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  color: #e9e9f9;
}

.active-user {
  display: flex;
  align-items: center;
  padding: 8px;

  cursor: pointer;
}

.active-user img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.active-user-name {
  font-weight: bold;
}

.active-user-status {
  font-size: 12px;
  color: #777;
}

.active-user:hover {
  background-color: #2e2d51;
}

.active-user.active {
  background-color: #2e2d51;
}

@media only screen and (max-width: 768px) {
  .message-container {
    justify-content: flex-start;
  }

  .messageBox {
    width: 100%;
  }
  .active-users-list {
    width: 150px;
  }
  .active-users-container {
    min-width: 150px;
  }

  .messages {
    max-width: 220px;
    word-wrap: break-word;
  }

  .message {
    width: 20px;
  }

  .message p {
    font-size: 13px;
  }

  .message span {
    font-size: 8px;
    color: black;
  }
}
