.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.loader {
  display: flex;
  height: 250px;
  justify-content: center;
  align-items: center;
}
