* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

.login-register {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}

.login-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  color: wheat;
  background: linear-gradient(
    135deg,
    rgba(15, 12, 41, 0.8),
    rgba(48, 43, 99, 0.8),
    rgba(36, 36, 62, 0.8)
  );
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
  transition: opacity 2s ease-in-out;
}

.login-container.submitted {
  opacity: 0;
}
.login-container h2 {
  color: wheat;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group input[type="submit"] {
  background-color: #242734;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.form-group input[type="button"] {
  background-color: #242734;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.form-group input[type="button"]:hover {
  background-color: #1b1f26;
}

.form-group input[type="submit"]:hover {
  background-color: #1b1f26;
}

.password-input-container {
  position: relative;
}
.toggle-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.password-strength-indicator {
  height: 10px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.strength-bar {
  height: 100%;
  border-radius: 5px;
  transition: 1s;
}

.password-feedback-popup {
  text-align: left;

  width: 100%;

  background: linear-gradient(to right, #4e54c8, rgba(143, 148, 251, 0.5));

  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s;
}

.password-feedback-popup p {
  margin: 10px;
  padding: 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.password-requirements {
  list-style: none;
  padding: 10px;
  background: linear-gradient(to right, #4e54c8, rgba(143, 148, 251, 0.5));

  margin-bottom: 10px;
  border-radius: 10px;
  padding: 5px;
}

.password-requirements li {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-bottom: 10px;
  margin: 0;
  padding-top: 10px;
}

.password-requirements input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 1px solid #00ab72;
  color: white;
  border-radius: 50%;
}
.password-requirements input:checked {
  content: "\2713";
  background-color: #00ab72;
  border-color: #00ab72;
  color: #00ab72;
  transition: 1s;
}

.error-message {
  color: red;
}

.error-modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
}

.error-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 8px;
  max-width: 300px;
  width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-image: linear-gradient(
    to top,
    rgba(15, 12, 41, 0.5),
    rgba(48, 43, 99, 0.5),
    rgba(36, 36, 62, 0.5)
  );
  backdrop-filter: blur(5px);
}

.error-modal p {
  margin: 0;
  font-size: 16px;
}

.error-modal button {
  margin-top: 10px;
  margin-right: 20px;
  padding: 8px 12px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.error-modal button:hover {
  background-color: #2980b9;
}

.redChar {
  color: rgb(92, 0, 0);
}

@media only screen and (max-width: 480px) {
  .login-container {
    width: 80%; /* Adjust width for smaller screens */
  }
  .form-group input[type="submit"],
  .form-group input[type="button"] {
    font-size: 0.8em; /* Adjust font size for smaller screens */
  }
}
