body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.login-container h2 {
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.form-group input[type="button"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.form-group input[type="button"]:hover {
  background-color: #45a049;
}

.form-group input[type="submit"]:hover {
  background-color: #45a049;
}

.password-input-container {
  position: relative;
}

.password-strength-indicator {
  
  height: 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin: 10px;
  
}

.strength-bar {
  height: 100%;
  border-radius: 5px;
  transition: 1s;
}

.password-feedback-popup {
  text-align: left;
  margin-top: 5px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #00B9D2; /* Medium grey for medium */
  border: 1px solid #5a6268; 
  color: white;
  border-radius:10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1; /* Ensure it's above other elements */
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s ;
}

.password-feedback-popup p {
  margin: 10px;
  padding: 0; 
  font-size: 14px;
  display: flex;
  flex-direction: column;

  
}


.password-requirements {
  list-style: none;
  padding: 0;
  background-color: gray;
  margin: 0;
  border-radius: 10px;
  padding: 5px;
}

.password-requirements li {
  display: flex;
  font-size: 14px;
  align-items: center;
  margin-bottom: 10px;
  margin: 0;
  padding-top: 10px;
}

.password-requirements input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 8px;
  width: 5px;
  height: 5px;
  border: 3px solid #00AB72; /* Border color */
  border-radius: 50%; /* Make it round */
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-requirements input:checked {
  content: "\2713";
  background-color: #00AB72; /* Background color when checked */
  border-color: #00AB72; /* Border color when checked */
  color: #00AB72; /* Text color when checked */
  transition: 1s;
}

