.post-area {
  background-image: url(../images/light1.jpg);
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 50px 150px;
  transition: background-image 0.5s ease;
  position: relative;
}

.idea {
  background-image: url(../images/light2.jpg) !important;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 50px 150px;
  transition: background-image 0.5s ease;
}

.ligth-mode {
  background-image: url(../images/lightday.jpg) !important;
}

.dark-mode {
  background-image: url(../images/lightday2.jpg) !important;
}

.post-area .text {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  background-color: rgba(5, 5, 5, 0.5);
  border: 1px solid #ccc;
  height: 100px;
}

.dtext {
  color: black !important;
  background-color: rgba(5, 5, 5, 0.5);
}

.post-area form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-area p {
  width: 100%;
  display: flex;
  margin-top: 10px;
  color: red;
  justify-content: center;
}

.post-area form button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
}

.success-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}
