/* components/PostCard.css */
.post-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  position: relative;

  transition: height 0.5s;
}

.post-card:hover {
  height: auto;
}

.deleting {
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.post-card .post-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-card .post-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: white-space 0.5s, height 0.5s;
}

.post-card:hover .post-content {
  white-space: normal;
}

.delete-button button {
  cursor: pointer;
  background-color: grey;
  visibility: hidden;
  border-radius: 30px;
  padding: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.post-card:hover .delete-button button {
  visibility: visible;
}

.post-date {
  font-size: 12px;
  color: black;
  opacity: 0.8;
}
