.post-area {
  background-image: url(../images/lightday2.jpg);
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 50px 150px;
  transition: background-image 0.5s ease;
  position: relative;
}

.textDiv {
  width: 100%;
}

.idea {
  background-image: url(../images/lightday.jpg) !important;
  display: flex;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 50px 150px;
  transition: background-image 0.5s ease;
}

.ligth-mode {
  background-image: url(../images/light2.jpg) !important;
}

.dark-mode {
  background-image: url(../images/light1.jpg) !important;
}

.post-area .text {
  width: 100%;

  font-size: 16px;
  border-radius: 4px;
  color: black;
  background-color: rgba(233, 230, 230, 0.5);
  border: 1px solid #ccc;
  height: 150px;
  cursor: text;
}

.dtext {
  color: white !important;
  background-color: rgba(5, 5, 5, 0.5) !important;
}

.post-area form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-area p {
  width: 100%;
  display: flex;
  margin-top: 10px;
  color: red;
  justify-content: center;
}

.post-area form button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 20px;
}

.success-modal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

/* AutoCompleteTextarea.css */
.auto-complete-textarea {
  position: relative;
  width: 100%;
}

.auto-complete-textarea ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(7, 1fr);

  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: rgba(233, 230, 230, 0.5);
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  bottom: 100%;
  width: 100%;
}

.auto-complete-textarea li {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.auto-complete-textarea li:hover,
.auto-complete-textarea li.selected {
  background-color: #f0f0f0;
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
