.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
  overflow-x: hidden;
}

.red {
  background-color: red;
}
.post-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
  margin-right: 30px;
  align-items: flex-start;
}
.liked {
  color: red;
}

.icon {
  cursor: pointer;
}
.likeBtn {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.post-card {
  width: 100%;
  border-radius: 30px;
  position: relative;

  padding: 16px;  
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}

.post-card:hover {
  height: auto;
}

.post-user.blur {
  filter: blur(20px);
  transition: filter 0.5s ease;
}

.delete-animation-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.post-card .post-content {
  overflow: hidden;
  text-overflow: ellipsis;

  transition: white-space 0.5s, height 0.5s;
}
.post-content {
  flex: 1;
  margin-right: 16px;
  padding-bottom: 40px;
  position: relative;
}
.post-content p {
  margin: 8px 0;
  line-height: 1.5;
}
.post-card:hover .post-content {
  white-space: normal;
}

.delete-button button {
  visibility: hidden;
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
}

.post-card:hover .delete-button button {
  visibility: visible;
}

.post-date {
  font-size: 12px;
  color: black;
  opacity: 0.8;
}

.read-more-button:hover {
  cursor: pointer;
  background-color: #0056b3;
}
.read-more-button {
  position: absolute;
  right: 30px;
  bottom: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.post-author {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
.user-photo {
  object-fit: cover;
}

.like-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-comment-section {
  display: flex;
  gap: 10px;
}

.add-comment-section input {
  width: 150px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: 1.5s ease-in-out;
}

.add-comment-section input:focus {
  width: 650px; /* Width when active */
}

.post-paragraph {
  display: flex;
  flex-direction: column;
}
.post-paragraph img {
  max-width: 300px;
  max-height: 200px;
}


.post-card-container .lazy-loading-post-card {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.tooltip {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  min-width: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tooltip p {
  display: flex;
  flex-wrap: nowrap;
}

.like-button-container {
  position: relative;
}
